.input-default {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #5f5e5e;

  &__field {
    height: 20px;
    width: 80%;
    max-width: 200px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #5f5e5e;
    
    &:focus{
      outline: none;
    }
  }
}
