.button-default {
  width: 100%;
  height: 20px;
  border: none;
  display: flex;
  justify-content: start;
  background-color: transparent;
  color: #5f5e5e;
  padding: 0;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;

  &:hover {
    background-color: rgba(207, 207, 207, 0.8);
  }

  &:focus {
    outline: none;
    background-color: rgba(207, 207, 207, 0.8);
  }
}
