.construction {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    width: 100%;
    display: flex;
  }

  &__more-less{
    min-width: 34px;
  }

  &__content {
    padding-left: 40px;

    &-hide {
      display: none;
    }
  }

  &__content-item {
    display: flex;
    background-color: rgba(41, 46, 104, 0.301);
  }
}
